# Ignore build artifacts and temporary files
bin/
build/
*.log
*.tmp

# Ignore configuration files if they are handled separately or via secrets
config/

# unused
docs/
migration/
web/
.golangci.yml
.mockery.yml
*.out
*_collection.json
Makefile
README.md
server


# Ignore version control directories
.git
.gitignore

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.swo
